body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    
}

.name-highlight{
    color: #FFA500;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5px;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 30px;
}
.link-btn{
   
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 10px 25px 11px 24px;
    border-radius: 5px;
    background-image: linear-gradient(20deg,lightsalmon,tomato);
}
.para{
    color: grey;
    text-align: justify;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    height: 70%;
    padding: 24px;
    background-color: white;
   
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 5px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: gray;
}